body {
    background-color: #080029;
}
header {
    border-width: 10;
    border-color: #d500ff;
    border-style: solid;
    border-radius: 20px;
}
    /*background-image: url('SportsCars.png');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;*/

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.container {
    display: flex;
}

.unit {
    width: 100%;
    height: 100px;
    background-color: aqua;
    margin: 20px;

}
